<html>
    <head>
        <meta charset="utf-8">
        <title>Mensagens</title>
    </head>
    <body>
        <h2>Mensagens</h2>

        <table>
            <tr>
                <td>Nome</td>
                <td>Email</td>
                <td>DDD</td>
                <td>Telefone</td>
                <td>Mensagem</td>
            </tr>

            <% for(var i =0; i < mensagens.length; i++){ %>
                <tr>
                    <td><%=mensagens[i].nome%></td>
                    <td><%=mensagens[i].email%></td>
                    <td><%=mensagens[i].ddd%></td>
                    <td><%=mensagens[i].telefone%></td>
                    <td><%=mensagens[i].mensagem%></td>
                </tr>
            <% } %>    
        </table>

    </body>
</html>